.container {
    display: flex;
    flex-wrap: wrap;

   
}

.box1 {
    
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(12, 12, 12);
    margin: 5px;
    cursor: pointer;
}

.box2 {

    
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(246, 9, 9);
    margin: 5px;
    cursor:all-scroll;
}

.box3 {
    height: 200px;
    width: 200px;
    text-align: center;
    font-family: monospace;
    font-size:x-large;
    border-radius: 20px;
    background-color: rgb(51, 51, 228);
    margin: 5px;
    cursor:col-resize;
}

.box4 {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(212, 135, 42);
    margin: 5px;
}

.box5 {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(48, 240, 176);
    margin: 5px;
}

.box6 {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(226, 62, 62);
    margin: 5px;
}

.box7 {
    height: 200px;
    width: 200px;
    margin: 5px;

}

.box8 {
    height: 200px;
    width: 200px;
     margin: 5px;
}
.image{
    border-radius: 20px;
    height: 200px;
    width: 200px;
}
